html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}




.game-board{ 
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px; 
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  justify-content: center;
  
 }

 .box {
  background-color: lightgrey;
  border: 2px solid black;
 }

 .letter {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  
  
 }

 input {
  width: 80px;
  height: 80px;
  font-size: 2rem;
  text-align: center;
}