html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.header{

  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.game-board{ 
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px; 
  grid-template-rows: 80px 80px 80px 80px 80px 80px;
  justify-content: center;
  
 }

 .box {
  background-color:  #7efa82;
  border: 1px solid lightgrey;
 }

 .letter {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  
  
 }

.logo {
  
  margin-top: 1rem;
}

 input {
  width: 79px;
  height: 79px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  
  
}

.score {
  
  font-size: 11px;
  text-align: center;
  
  
 }