

.button {
  background-color: #ffffff;

  /* border: 5px;
  border-style: outset; */
  width: 8rem;
  height: 3rem;
  color: grey;
  border: transparent;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  font-family: 'Computer Modern Sans';

 }

 .button:hover {
  background-color: #edebeb;
  cursor: pointer;

}

